:host {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;

  .navigation {
    border-right: 2px groove rgba(0, 0, 0, 0.3);
    background: var(--white-18);
    overflow-y: auto;
    position: relative;

    .navigation-header {
      display: flex;
      align-items: center;
      position: sticky;
      padding: 1.8rem 1.5rem;
      background: var(--white-20);

      .logo {
        margin-right: 0.5rem;
      }

      .title {
        font-size: larger;
        text-transform: uppercase;
        font-family: var(--heading-font);
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      border-collapse: collapse;
      margin-bottom: 0;
      margin-top: 0;

      li {
        padding: 1rem;
        border-top: 1px solid var(--white-30);
        border-left: none;
        border-right: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: small;

        &:first-child {
          border-top: none;
        }

        &.active {
          background-color: var(--blue-40);
        }
      }
    }
  }

  .outlet {
    position: relative;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;

    > app-context {
      flex: 1;
      display: block;
    }
  }
}
