app-form#outputForm {
  padding: 0 1rem;
  overflow: auto;
  flex-basis: 0;

  &.has-basis {
    flex-basis: calc(100% - 35px);
  }
}

.control-actions {
  display: flex;
  justify-content: flex-end;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-basis: 35px;
  align-items: center;
}

@media (max-width: 769px) {
  :host {
    flex-direction: column;
  }

  .footer {
    flex-wrap: wrap;
    flex-direction: column;

    > div {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: column;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      button {
        flex: 1;
        margin-top: 0.5rem;
        margin-left: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
