:host {
  display: flex;
  height: 100vh;

  .documentation {
    border-right: 2px groove rgba(0, 0, 0, 0.5);
    padding: 1rem;
    flex: 0.3;
    min-width: 350px;
    margin-top: 0.5rem;

    .actions {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;

      button {
        margin: 0;
        flex-basis: 100%;

        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
    .output {
      flex-grow: 1;
      white-space: wrap;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      display: flex;
      flex-direction: column;

      pre {
        min-height: 400px;
        border-top: 2px groove rgba(0, 0, 0, 0.5);
        background-color: var(--white-10);
        padding: 0.5rem 1rem;
        white-space: wrap;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
      }
    }
  }

  #modalContainer {
    flex: 1;
    position: relative;
  }
}
