button {
  margin-top: 1rem;

  &.first-child {
    margin-right: 0;
    margin-top: 0;
  }

  &:last-child {
    margin-left: 0;
  }
}

app-context {
  ::ng-deep {
    app-chip {
      background-color: var(--blue-40);
      font-size: small;
    }

    & > app-icon {
      span {
        font-size: 5rem;
      }
    }
  }
}
