:host {
  display: flex;
  height: 100vh;

  .documentation {
    border-right: 2px groove rgba(0, 0, 0, 0.5);
    padding: 1rem;
    flex: 0.3;
    min-width: 350px;
    margin-top: 0.5rem;
  }

  .output {
    flex-grow: 1;
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    h3 {
      margin-left: 1rem;
    }

    .buttons-container {
      padding: 1rem;
      padding-top: 0;
    }
  }

  app-context {
    border-top: 2px groove rgba(0, 0, 0, 0.5);
    overflow: auto;
    background-color: var(--white-10);
    flex: 1;
    padding: 1rem;

    ::ng-deep {
      app-chip {
        background-color: var(--blue-40);
        font-size: small;
      }

      & > app-icon {
        span {
          font-size: 5rem;
        }
      }
    }
  }
}
