/* You can add global styles to this file, and also import other style files */
@use 'theme';

:root {
  --tablet-width: 769px;
  --mobile-width: 426px;
  --mobile-s-width: 361px;
}

body {
  display: block;
  height: 100vh;
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--white-15);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-family: var(--heading-font);
    position: relative;
    color: var(--white);
  }

  h1,
  h2 {
    color: var(--blue-60);
    margin-bottom: 2rem;
    margin-top: 0rem;
  }

  label,
  legend {
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-size: small;
    display: block;
    margin-bottom: 0.25rem;
    color: var(--white);
  }

  legend {
    display: contents;
  }

  button {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin: 0 0.25rem;
    cursor: pointer;
    border: 1px outset rgba(255, 255, 255, 0.4);
    color: var(--text-color);
    transition: all 0.1s ease-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    app-icon {
      text-transform: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border: 1px outset rgba(255, 255, 255, 0.6);
    }

    &.primary {
      background-color: var(--blue-40);
      color: var(--text-color);

      &:hover {
        background-color: var(--blue-50);
      }
    }

    &.icon {
      border: none;
      background-color: transparent;
      display: flex;
      width: fit-content;

      app-icon {
        display: inline-flex;
        margin-right: 0.5rem;
      }
    }

    &.submit {
      color: var(--body-color);
      background: var(--green-30);

      &:hover {
        background: var(--green-40);
      }
    }

    &.reset {
      background: var(--white-15);

      &:hover {
        background: var(--white-20);
      }
    }

    &[disabled] {
      background-color: var(--white-30) !important;
      border-style: solid !important;
      border-color: var(--white-15) !important;
      pointer-events: none !important;
      color: var(--white-60) !important;
    }
  }

  .console {
    flex-grow: 1;
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white-10);
    padding: 0.5rem 1rem;

    pre {
      height: 100%;
      margin-block: 0 0;
    }
  }

  .placeholder {
    color: var(--white-40);
    text-transform: uppercase;
    font-family: var(--heading-font);
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
