<div class="documentation">
  <h1>Form Generator</h1>
  <div class="form">
    <app-select
      #typeSelect
      [control]="typeControl"
      (select)="setControlConfig($event)"
    ></app-select>
    @if (controlConfig) {
      <hr style="margin: 1rem 0" />
      <h3>Config for {{ selectedType }}</h3>
      <app-form #configForm [config]="controlConfig" (form)="setFormListener($event)"></app-form>
    }
  </div>
  <div class="footer">
    <button class="reset" (click)="reset()">Reset</button>
    <button class="submit" [disabled]="addDisabled" (click)="addControl()">Add</button>
  </div>
</div>
<div class="outputForm">
  <app-form #outputForm [config]="outputFormConfig" (reset)="outputValue = undefined"></app-form>
  @if (outputFormConfig.controls.length) {
    <div class="footer">
      <div>
        <button class="reset" (click)="clearForm()">Remove Form</button>
      </div>
      <div>
        <button class="reset" (click)="resetForm()">Reset Form</button>
        <button class="submit" (click)="submitForm()">Submit</button>
      </div>
    </div>
    <div class="output" #output>
      @if (outputValue) {
        <pre><code>{{ outputValue }}</code></pre>
      } @else {
        <div class="placeholder">Form output will appear here.</div>
      }
    </div>
  } @else {
    <div class="placeholder">Form will appear here.</div>
  }
</div>
