:host {
  display: flex;
  position: relative;
  height: 100vh;

  .documentation {
    border-right: 2px groove rgba(0, 0, 0, 0.5);
    padding: 1rem;
    flex: 0.3;
    min-width: 350px;
    margin-top: 0.5rem;
  }

  .output {
    flex-grow: 1;
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    .config-form {
      border-bottom: 2px groove rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      max-height: 50vh;
      overflow: hidden;
      padding: 1rem;
      padding-bottom: 0;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          margin-top: 0;
          margin-bottom: 0;
        }

        app-icon {
          transition: all 0.1s ease-out;
          transform-origin: center;
          cursor: pointer;

          &::ng-deep {
            span {
              font-size: 2rem;
            }
          }

          &.inverted {
            transform: rotate(180deg);
          }
        }
      }

      .form {
        transition: all 0.1s ease-out;
        min-height: 180px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 1rem;

        &.hidden {
          min-height: 0;
          max-height: 0;
          overflow: hidden;

          + .footer {
            margin-top: 0;
            display: none;
          }
        }

        app-form {
          padding: 0.5rem 1rem;

          ::ng-deep {
            app-select-builder {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }

    app-form#outputForm {
      flex-basis: 0;

      &.has-basis {
        flex-basis: 300px;
        padding: 0 1rem;
        overflow: auto;
        flex-grow: 0.5;
      }
    }

    .output-data {
      border-top: 2px groove rgba(0, 0, 0, 0.5);
      background-color: var(--white-10);
      padding: 0.5rem 1rem;
      flex-grow: 1;
      white-space: wrap;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
    }

    .footer {
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
    }

    .placeholder {
      color: var(--white-40);
      text-transform: uppercase;
      font-family: var(--heading-font);
      flex: 1;
      text-align: center;
    }
  }
}
